<% backend_port = config.get_backend_port() %>
<% http_port = config.get_http_port(443) %>
<% http_static_ip = config.get_backend_static_ip() %>
<% http_hostname = config.get_http_hostname() %>

% if config.active:
upstream upstream_${ctx.slug(name)}    {
    least_conn;

    % if http_static_ip:
    server ${http_static_ip}:${backend_port};
    % else:
    % for ip in config.ipaddress:
    server ${ip}:${backend_port} ;
    % endfor
    % endif
}
% endif
